
%button {
  border: 1px solid lightgray;
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  color: $text-grey;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form_product {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 100px;
}

.binale {
  font-size: 30px;
  font-weight: 400;
  color: $text-grey;
}
.binale_blau {
  color: $color-blue;
}



// Lieferant anlegen

.lieferant-anlegen {
  margin-top: 30px;
}

.lief_abs {
  margin-left: 10px;
}

input:focus {
  background: #e4f5ff;
}

.input-field {
  display: flex;
  justify-content: space-between;
  //margin-bottom: 25px;

  &__label_lief {
    margin: 5px 10px 5px 0;
  }

  &__input {
    width: 170px;
    padding: 3px 7px;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;

    &__str {
      width: 140px;
    }
    &__no {
      width: 53px;
    }
  }

  &__errors {
    height: 25px;
    color: red;
  }

}

.input_before_btn {
  margin-top: 25px;
}
.label {
  margin-bottom: 10px;
}
.fieldset {
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  width: 340px;
  border: 1px solid $color-blue;
  border-radius: 3px;
  box-sizing: content-box;
  &__innen {
    padding: 15px;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
    margin-bottom: 20px;
  }
}
.legend {
  color: $color-blue;
  &__innen {
    color: $text-grey;
  }
}



// Кнопки

.btn-login {
  background-color: $color-sand;
  color: $text-grey;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.38px;
  padding: 13px 19px;
  border: none;
  border-radius: 5px;
  transition: background-color 1s;
}
.btn-login:hover {
  background-color: $color-social;
}
.btn-login:active {
  background-color: white;
  color: $color-social;
}
.btn_form {
  margin-right: 20px;
  margin-top: 20px;
  align-self: flex-end;
}